/BASESWENAS
primeros gráficos exploratorios
resultados_lda_completo
.env
ABASCAL_filtered.csv
ABASCAL.csv
analisis_apagon_por_perfil copy.png
analisis_apagon_por_perfil.png
estadisticas_exploratorias.txt
evolucion_tweets_apagon_1750343189.png
evolucion_tweets_apagon_1750347503.png
evolucion_tweets_apagon_1751302884.png
evolucion_tweets_apagon.png
evolucion_tweets_regulares_1750343189.png
evolucion_tweets_regulares_1750347503.png
evolucion_tweets_regulares_1751302884.png
FEIJÓO_filtered.csv
FEIJÓO.csv
grafica tfm nere indesign.png
PEDRO SÁNCHEZ_filtered.csv
PEDRO SÁNCHEZ.csv
porcentaje_apagon_por_perfil.png
PP_filtered.csv
PP.csv
prueba_sentimientos.ipynb
prueba_sentimientosOLMO.ipynb
PSOE_filtered.csv
PSOE.csv
resultados_pruebas.html
salidasumar_filtered.csv
salidasumar.csv
salidayolanda_filtered.csv
salidayolanda.csv
tabla_palabras_frecuentes_filtrada.csv
tabla_palabras_frecuentes_filtrada.png
tabla_palabras_frecuentes_filtrada.xlsx
tabla_palabras_frecuentes.csv
tabla_palabras_frecuentes.png
tabla_palabras_frecuentes.xlsx
tabla_resultados.png
TFM_código_final
VOX_filtered.csv
VOX.csv